body {
    background-image: url(aa.jpg) ;
    background-size: 100%;
}
.rgs1 {
    background-color: green;
    text-align: center;
}
.rgs2 {
    color: chartreuse;
}
.rgs3 {
    color: chartreuse;
}

.rgs4 {
    color: chartreuse;
}

.rgs5 {
    color: chartreuse;
}

.rgs6 {
    color: chartreuse;
}

.rgs7 {
    color: chartreuse;
}

.border {
    text-align: center;
    border-radius: 2;
    color: chartreuse;
}

.rgs8 {
    color: chartreuse;
}

