body{
    background-image: url(../img/kir.png);
    background-size: 1370px;
    background-repeat: no-repeat;
}
header{
    form{
       li{
        list-style: none;
    } 
    }
    
    .hy{
        color: #f5f5f5;
        font-size: 50px;
        font-family: monospace,sans-serif;
        margin-left: 10px;
    }
    .nadir{
       li{
           list-style: none;
           a{
               color: whitesmoke;
           }
       }
    }
    .adan{
        border-radius: 10px;
        border-color: whitesmoke;
        color: whitesmoke;
    }
    .rare{
        border: 1px solid;
        color: whitesmoke;
        background-color: rgb(255, 126, 79);
        border-radius: 180px;
        border-style: none;
        font-size: 18px;
    }
}
section{
    @media (max-width: 700px) {
        .pas{
            flex-direction: column;
        }
        .img3{
            width: 100%;
        }
        .aoo{
            flex-direction: column;
        }
        .tert{
           flex-direction: column;
        }
        .canavar{
            flex-direction: column;
        }
        }
        .laf{
            width: 220px;
            h6{
                color: gray;
                padding-left: 20px;
            }
            .faas{
                display: flex;
            }
        }
        .per{
            border-style: none;
        }
        .img1{
            width: 530px;
            height: 350px;
            
        }
        .carder{
            border-style: none;
            width: 400px;
            height: 350px;
            h5{
                border: 1px;
                border-style: none;
                border-radius: 10px;
                background-color: green;
                width: 70px;
                color: whitesmoke;
            }
            h1{
                font-family:cursive;
            }
            
            input{
                background-color: indianred;
                border-radius: 8px;
            }
            .ara{
                background-color: honeydew;
                border-radius: 8px;
                margin-right: 10px;
            }
        }
        .img2{
            height: 180px;
        }
        .as{
            padding-left: 100px;
            color: rgb(148, 140, 140);
        }
        .pas{
            background-size: 1150px;
            height: 400px;
            background-image: url(../img/dd.png);
            background-repeat: no-repeat;
            .text{
                padding-top: 70px;
                margin-left: 150px;
                width: 30%;
                color: white;
            }
            .img3{
                width: 598px;
            }

        }
    .mal{
        background-color: rgb(195, 195, 195);
        sup{
            margin-bottom: 50px;
            margin-left: 10px;
            
        }
        span{
            background-color: orange;
        }
        a{ 
            text-decoration: none;
            margin-left: 20px;
            padding-left: 30px;
            margin-top: 20px;
            width: 70%;
            height: 90px;
            display: flex;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            border: 1px;
            border-style: none;
            border-radius: 180px;
            background-color: white;
        }
    }
    .lep{
        margin-top: 200px;
        h5{ 
            margin-top: 50px;
            text-align: center;
            color: #f5f5f5;
            border: 1px;
            border-style: none;
            border-radius: 8px;
            background-color:  #5EAE53;
            padding: 0;
         }
         h2{
             font-size: 50px;
         }
    }
    .lap{
        margin-left: 70px;
        border-style: none;
        h5{ 
            width: 170px;
            text-align: center;
            margin-top: 50px;
            color: #f5f5f5;
            border: 1px;
            border-style: none;
            border-radius: 8px;
            background-color:  #5EAE53;
            padding: 0;
        }
        h2{
            font-size: 50px;
        }
    }
    .adr{
        height: 70px;
        margin-top: 160px;
        padding: 0;
        margin-left: 340px;
        border-style: none;
    }
    .dr{
        display: flex;
        width: 100%;
        gap: 10px;
        h6{
            margin-top: 7px;
        }
        h5{
            background-color: #EB8E78;
            border-radius: 100%;
            color: beige;
        }
    }
    .jer{
        width: 40%;
        height: 550px;
        margin-top: 60px;
        border: none;
        background-color: #5EAE53;
        .emoji{
            background-color: #5EAE53;
            border: none;
            border-style: none;
            padding-top: 90px;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #5EAE53;
                gap: 10px;
               li{
                   list-style: none;
                   i{
                       color: #EB8E78;
                       font-size: 20px;
                   }
               }
            }
        }
        h5{
            font-family: cursive;
            color: #F6B76C;
        }
        p{
            color: rgb(218, 214, 214);
            font-size: 45px;
        }
        .d{
            background-color: #5EAE53;
            border-color: #5EAE53;
        }
        button{
            border: 1px;
            border-radius: 10px;
            width: 290px;
            margin-top: 10px;
            padding-right: 0;
            input{
                margin-left: 45px;
                background-color: #EB8E78;
                border: 1px;
                border-style: none;
                border-radius: 7px;
            }
        }
    }
}
footer{
    background-color: rgb(29, 29, 29);
    height: 300px;
    width: 85%;
    margin-left: 100px;
    padding-bottom: 150px;
    display: flex;
    @media (max-width: 700px) {

        .dajl{
            flex-direction: column;
            margin-top: 200px;
            margin-right: 100px;
        }
        .card{
            flex-direction: column;
        }
        .nara{
            flex-direction: column;
            width: 100%;
            padding: 0;
        }
    }
    .card{
        background-color: rgb(29, 29, 29);
        border-style: none;
        padding-top: 70px;
        padding-left: 70px;
        .mane{
            color: whitesmoke;
            padding-bottom: 20px;
        }
        .vay{
            color: whitesmoke;
        }
        .hay{
            color: whitesmoke;
            padding-top: 35px;
        }
        h2{
            color: whitesmoke;
            width: 300px;
        }
        h1{
            color: whitesmoke;
        }
        .emoji{
            background-color: rgb(29, 29, 29);
            border-style: none;
            ul{
                display: flex;
                gap: 7px;
               
               li{
                list-style: none;
                 background-color: tomato;
                 border-radius: 100%;
            } 
            }
            
        }
    }
}