#eleven{
    
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;   
    .srazu{
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(17, 57, 92);
        
        div{
            
        h3{
            text-align: center;
            font-size: 30px;
            color: rgb(29, 13, 122);
            background-color: grey;
        }
        h1{
            font-size: 50px;
            margin-left: 80px;
        }
        p{
            width: 90%;
            font-size: 22px;
            text-align: center;
            color: grey;
            margin-left: 30px;
        }
        }
    }
}
